/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FARVER */
:root {
  --headerblue: #235d70;
  --footerblue: #97d0de;
  --black: #2f2f2f;
  --headinggrey: #494949;
  --darkgrey: #777777;
  --katdarkgrey: #dedede;
  --katlightgrey: #ebebeb;
  --white: #ffffff;
}

h1 {
  color: var(--black);
}
