/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FARVER */
:root {
  --headerblue: #235d70;
  --footerblue: #97d0de;
  --black: #2f2f2f;
  --headinggrey: #494949;
  --darkgrey: #777777;
  --katdarkgrey: #dedede;
  --katlightgrey: #ebebeb;
  --white: #ffffff;
}

h1 {
  color: var(--black);
}

body {
  font-family: Helvetica, Arial, sans-serif;
}






/* ============================== VENSTRE SIDE KOMPONENTER ============================== */


.kategoriBoks {
  width: 240px;
  height: 934px;
}

.kategoriBoksTitel {
  font-size: 19.25px;
  background-color: var(--katdarkgrey);
  width: 100%;
  height: 53px;
}

.kategoriBoksLinks {
  font-size: 12.25;
  background-color: var(--katlightgrey);
  width: 100%;
  height: 426px;
}



