/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FARVER */
:root {
  --headerblue: #235d70;
  --footerblue: #97d0de;
  --black: #2f2f2f;
  --headinggrey: #494949;
  --darkgrey: #777777;
  --katdarkgrey: #dedede;
  --katlightgrey: #ebebeb;
  --white: #ffffff;
}

/* BOGKORT */
.bogkortContainer {
  width: 232px;
  height: 496px;
  background-color: var(--katdarkgrey);
  display: flex;
  flex-direction: column;
}

.bogkortImg {
  display: flex;
  justify-content: center;
}

.bogkortImg img {
  width: 180px;
}

.bogkortTitel {
  background-color: var(--white);
  width: 230px;
  height: 105px;
  margin-left: 1px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 18px;
  padding-bottom: 14px;
  overflow: hidden;
}

.bogkortFlex {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.bogkortPris {
  padding-top: 18px;
  padding-bottom: 31px;
}
